:root{
    --font-body:'Proxima Nova';
    --body-m:24px;
    --content-width:1180px;    
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
    font-weight: 400;
    overflow-y: scroll;
    color: #232323;
}

.Prose {
    display: grid;
    grid-template-columns: [full-start] minmax(var(--body-m), 1fr) [main-start] minmax(0, var(--content-width)) [main-end] minmax(var(--body-m), 1fr) [full-end];
    grid-auto-rows: max-content;
}

.Prose > * {
  grid-column: main;
}

.grid-full {
    grid-column: full;
}

.container{
    width: 100%;
    max-width: calc(var(--content-width) + var(--body-m) + var(--body-m)) ;
    padding-left: var(--body-m);    
    padding-right: var(--body-m);    
}

main{
    flex-grow: 1;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    border: none;
    resize: none;
    background: none;
}

input {
    font-family: inherit;
}

/* Стили tabs */

.ui-tabs-tab {
    display: flex;

    color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 100px;
    width: fit-content;
    cursor: pointer;     
    
    font-weight: 700;
    font-size: 16px;
    line-height: 121%;
}

.ui-tabs-tab a{
    padding: 9px 26px;
}

.ui-tabs-active {
    color: #232323;
    border: 1px solid #232323;     
}

.ui-tabs-nav {
    display: flex;
    gap: 16px;
    overflow: auto;
    padding-bottom: 30px;
}

.ui-tabs-nav::-webkit-scrollbar {
    height: 0px;
}

/* Стили */

.btn{
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 10px;
    border-radius: 7px;
    width: fit-content;
    padding: 22px 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;    
}

.btn img{
    flex-shrink: 0;
}

.btn-red{
    background: #D62423;
    color: white;
}

.btn-white{
    background: white;
    color: #D62423;
}

.relative{
    position: relative;
}

.border-castom{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, 0);
}

.ul{    
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ul li{
    display: flex;   
    font-weight: 700;
    font-size: 17px;
    line-height: 121%; 
}

.ul li::before{
    content: "⸺";
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 25px;    
    height: 3px;
    border-radius: 100px;   
    margin: auto 0;
    margin-right: 20px;    
    flex-shrink: 0;
    overflow: hidden;
    
}

.ul-red{
    color: #D62423;
}

.ul-gray{
    color:  rgba(35, 35, 35, 0.8);
}

.ul-c2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.red{
    color: rgba(250, 51, 48, 1);
}

.font_body{
    font-weight: 400;
    font-size: 16px;
    line-height: 121%;
}

.h2{
    font-weight: 400;
    font-size: 36px;
    line-height: 121%;
}

.h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 121%;
}

.breadcrumb {
    display: flex;
    border: 1px solid #DADCD9;
    border-radius: 6px;
    padding: 0 16px;
    width: fit-content;
    color: #AAADA9;
    margin-bottom: 25px;
}

.breadcrumb .item::after{
    display: flex;
    align-items:center;
    justify-content:center;
    content: " ";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='23' viewBox='0 0 9 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 0.5L7.5 12L1.5 23' stroke='%23DADCD9'/%3e%3c/svg%3e ");
    margin: 0 16px;
    height: 100%;
    width: 8px;
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumb .item:last-child::after{    
    content:none;
}

.breadcrumb .item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages{
    display: flex;   
     
    flex-wrap: wrap;
    background-color: #232323;
    color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 50px;
}

.advantages li:before{
    color: rgba(255, 255, 255, 0.4);
}

.advantages>.item .heading{    
    font-weight: 400;
    font-size: 32px;
    line-height: 121%;
    margin-bottom: 30px;
}

.advantages>.item .ul{    
    margin-bottom: 40px;    
    max-width: 503px;
}

.advantages>.item .btn{    
    margin-top: auto;        
}

.advantages>.item{
    display: flex;
    flex-direction: column;
    padding: 45px 90px;    
}

.product .download ul li{
    padding: 25px 0 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);   
    max-width: 520px;
}

.product {
    display: flex;
    gap: 80px;    
    margin-bottom: 50px;
}

.product>* {
    flex: 1 1 0;  
}

.product .heading{
    font-weight: 400;
    font-size: 36px;
    line-height: 121%;    
    max-width: 586px;
    margin-bottom: 25px;
}

.product .cost{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #232323;
    margin-bottom: 50px;
}

.product .description .download{
    display: none;
}

.product .description .specifications  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.product .description .tabs  {
    margin-bottom: 50px;   
}

.product .description .specifications .item {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;
    max-width: 350px;
}

.product .description .specifications .value{
    flex: 0 0 50%;
    text-align: end;
}

.notes{
    padding: 60px 0 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
}

.notes .h3{
    margin-bottom: 20px;
}

.card_box_4{
    display: grid;
    grid-template-columns: [full-start] 1fr 1fr 1fr 1fr [full-end];
}

.variants{    
    column-gap: 27px;
    row-gap: 50px;
}

.variants img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.variants p{
    font-weight: 600;
    font-size: 15px;
    line-height: 121%;
    text-align: center;
    margin-top: 25px;
}

.privileges{
    padding: 60px 81px;
    background: #1D1D1D;
    border-radius: 30px;
    color: white;
    gap: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 121%;
}

.privileges .text{  
    grid-column: span 3;
    margin-bottom: 30px;    
}

.privileges .text>.heading{  
    margin-bottom: 15px;
}

.privileges .btn{  
    align-self: flex-start;
    width: 100%;
}

.privileges>.item{
    background: #FFFFFF;
    border-radius: 20px;
    padding: 45px 26px;
    min-height: 393px;    
    color: #676767;
}

.privileges>.item>.heading{
    font-weight: 700;
    font-size: 20px;
    line-height: 121%;
    color: #D62423;    
    margin-bottom: 9px;
}


@media  (max-width:1056px) {
    .border-castom{
        display: none;
    }
}

@media  (max-width:989px) {
    .card_box_4{
        display: grid;
        grid-template-columns:[full-start] 1fr 1fr [full-end];
    }

    .btn{
        width: 100%;
    }

    .advantages .item{
        width: 100%;
        padding: 35px 45px;
    }

    .product {
        flex-direction: column;
    }

    .product>.img img{
        margin: auto;
    }

    .product .download ul li {        
        max-width: none;
    }

    .product .img .download {        
        display: none;
    }

    .product .description .download {        
        display: block;
    }

    .product .heading {       
        max-width: none;       
    }

    .product .description .specifications .item {        
        max-width: none; 
    }

    .product .description .btn{        
        margin-bottom: 40px;
    }

    .product .download ul li:first-child  {        
        border: none;        
    }
    
    .notes{
        border: none;
    }

    .privileges {          
        padding: 40px 40px 60px ;
    }

    .privileges .btn{          
       grid-column: full;
    }

    .privileges .text{  
        grid-column: full;
        margin-bottom: 20px;
    }

    .privileges>.item{        
        padding: 35px 30px;      
        min-height: auto;  
    }

    
}

@media  (max-width:649px) {

    .btn{
        padding: 14px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    }

    .btn img, .btn svg{
        width: 15px;
    }

    .h2{        
        font-size: 20px;        
    }

    .breadcrumb{
        display: none;
    }

    .card_box_4{
        display: grid;
        grid-template-columns: [full-start] 1fr [full-end];
    }

    .advantages .item{
        width: 100%;
        padding: 25px;
    }

    .ul-c2{
        display: none;
    }

    .privileges{
        border-radius: 15px;
        padding: 35px 20px;        
        font-size: 12px;
    }

    .privileges .btn{
        margin-bottom: 20px;
    }

    .privileges .text {        
        margin-bottom: 10px;
    }

    .privileges .text>.heading {
        margin-bottom: 10px;
    }

    .privileges>.item{
        border-radius: 12px;
        padding: 25px;
    }

    .privileges>.item>.heading{
        font-weight: 700;
        font-size: 16px;
        line-height: 121%;
    }

    
}
